html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 30px;
	background-color: #393e46;
}

h1 {
	color: #eee;
	font-size: 24px;
	font-weight: 500;
	margin: 30px 0 15px 0;
}

/* SEARCH */
form .autoComplete_wrapper {
	margin: 0 0 15px 0;
}

form .autoComplete_wrapper > input {
	color: #eee;
	background-color: #393e46;
	border: 0.05rem solid #eee;
}

form .autoComplete_wrapper > input:hover,
form .autoComplete_wrapper > input:focus {
	color: #eee;
	background-color: #393e46;
	border: 0.07rem solid #eee;
}

form .autoComplete_wrapper > input::placeholder {
	color: #eee;
}

form .autoComplete_wrapper > input:hover::placeholder {
	color: #eee;
}

form .autoComplete_wrapper > input:focus::placeholder {
	color: #eee;
}

form .autoComplete_wrapper > input:focus::selection {
	background-color: rgba(255, 122, 122, 0.15);
}

form .autoComplete_wrapper > input::selection {
	background-color: rgba(255, 122, 122, 0.15);
}

form .autoComplete_wrapper > input:hover {
	color: #eee;
}

form .autoComplete_wrapper > input:focus {
	color: #eee;
	border: 0.06rem solid #eee;
}

form .autoComplete_wrapper > ul {
	border-radius: 0.1rem;
	border: 1px solid rgba(33, 33, 33, 0.07);
	box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
}

form .autoComplete_wrapper > ul > li {
	color: #212121;
}

form .autoComplete_wrapper > ul > li mark {
	color: #191919;
}

form .autoComplete_wrapper > ul > li:hover {
	background-color: rgba(100, 100, 100, 0.15);
}

form .autoComplete_wrapper > ul > li[aria-selected="true"] {
	background-color: rgba(100, 100, 100, 0.15);
}

/* RESULT SECTION */
.result *:not(.types) {
	color: #eee;
}

.result .numberAndName {
	display: flex;
	align-items: center;
	gap: 12px;
	margin: 10px 0 15px 0;
}

.result .numberAndName .number {
	color: #bbb;
	font-size: 18px;
}

.result .numberAndName .name {
	font-size: 22px;
	font-weight: 500;
}

.result > img {
	width: auto;
	height: 180px;
}

.result td {
	font-size: 15px;
}

.result td:first-child {
	width: 140px;
	vertical-align: top;
}

.result p {
	margin: 15px 0 5px 0;
	font-size: 16px;
	font-weight: 500;
}

/* TYPES */
.types span {
	display: inline-block;
	margin: 0 0 5px 0;
	padding: 4px 6px;
	font-weight: 500;
	line-height: 1;
	text-shadow: 0 0 2px #000;
	border-radius: 4px;
	outline: 1px solid #fff;
}

.types .normal {
	background-color: #a8a77a;
}

.types .fire {
	background-color: #ee8130;
}

.types .water {
	background-color: #6390f0;
}

.types .electric {
	background-color: #f7d02c;
}

.types .grass {
	background-color: #7ac74c;
}

.types .ice {
	background-color: #96d9d6;
}

.types .fighting {
	background-color: #c22e28;
}

.types .poison {
	background-color: #a33ea1;
}

.types .ground {
	background-color: #e2bf65;
}

.types .flying {
	background-color: #a98ff3;
}

.types .psychic {
	background-color: #f95587;
}

.types .bug {
	background-color: #a6b91a;
}

.types .rock {
	background-color: #b6a136;
}

.types .ghost {
	background-color: #735797;
}

.types .dragon {
	background-color: #6f35fc;
}

.types .dark {
	background-color: #705746;
}

.types .steel {
	background-color: #b7b7ce;
}

.types .fairy {
	background-color: #d685ad;
}
